.App {
  width: 100vw;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jobs {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 40px;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
}
.job-post h2 {
  background-color: white !important;
  color: black !important;
}
.job-post {
  width: 100vw;
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.job-post:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}
.job-post .job-title {
  flex: 20%;
  background-color: dodgerblue;
  display: grid;
  place-content: center;
  color: white;
}

.job-post .company {
  flex: 20%;
  display: grid;
  place-content: center;
}

.job-post .url {
  flex: 20%;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: dodgerblue;
  color: white;
}

.addJobContainer {
  display: flex;
  flex-direction: column;
}

/* Create job form styling*/

.addJobPage form {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchCompanyFrom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50vw;
  height: auto;
  padding: 20px;
  margin-top: 10px;
  border: 5px solid dodgerblue;
  border-radius: 5px;
}

.searchCompanyFrom input {
  width: 75%;
}

.searchCompanyFrom button {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.formContainer #inputCreatePost {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: lightskyblue;
  border-radius: 5px;
  color: white;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: dodgerblue;
}

span {
  color: red;
}

.navbar {
  width: 100%;
  height: 70px;
  background-color: dodgerblue;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar button {
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

/* LOGIN */

.loginContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
}

.loginContainer input,
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px;
}

.loginContainer button {
  background-color: dodgerblue;
  color: white;
}

.loginContainer input {
  border: 2px solid dodgerblue;
}
